<?xml version="1.0" encoding="UTF-8"?>

<module>
	<id>com.ils.mb</id>
	<name>MasterBuilder</name>
	<description />
	<license>license.html</license>
	<documentation>index.html</documentation>
	<version>1.0.0.0</version>
	<freemodule>true</freemodule>
	<requiredignitionversion>7.8.0</requiredignitionversion>
	<requiredframeworkversion>7</requiredframeworkversion>

	<!-- Load in our jars for each scope -->
	<jar scope="G">mb-gateway.jar</jar>
	<jar scope="D">mb-designer.jar.pack.gz</jar>
	<jar scope="G">mb-common.jar</jar>
	<jar scope="D">mb-common.jar.pack.gz</jar>

	<!-- Tell the Gateway and/or Designer where to find the hooks -->
	<hook scope="G">com.ils.mb.gateway.MasterBuilderGatewayHook</hook>
	<hook scope="D">com.ils.mb.designer.MasterBuilderDesignerHook</hook>
</module>

